.rowbgclr{
    background-color:#0b5369;
}
.ic1he2{
    border: 2px solid;
    border-radius: 50%;
}
.txt2he2{
    font-weight: 100;
}
.hetxt1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(15, 134, 213);
}